.form-container {
    padding-left: 20px;
    padding-right: 20px;
    animation: slideIn 0.5s forwards;
    margin-left: 40px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#items_container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.item {
    display: flex;
    margin-bottom: 10px;
}

.item input {
    flex: 1;
    margin-right: 5px;
}

#tax_type {
    display: none;
}