#displayTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    animation: slideIn 0.5s forwards;
    margin-bottom: 10px;
}

#displayTable th,
#displayTable td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}

#displayTable th {
    background-color: #f2f2f2;
}

#displayTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#displayTable tbody tr {
    font-size: small;
}

#displayTable tbody tr:hover {
    background-color: #f5f5f5;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* CSS for row animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.row-animation {
    animation: pulse 0.5s ease-in-out;
}