#displayTable {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#displayTable th,
#displayTable td {
    border: none;
        padding: 12px;
    text-align: center;
}

#displayTable th {
    background-color: #4285f4;
        color: white;
}

#displayTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#displayTable tbody tr:hover {
    background-color: #e0e0e0;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Row Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.row-animation {
    animation: pulse 0.5s ease-in-out;
}
