#invoiceTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    animation: slideIn 0.5s forwards;
    margin-bottom: 10px;
}

#invoiceTable th,
#invoiceTable td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}

#invoiceTable th {
    background-color: #f2f2f2;
}

#invoiceTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#invoiceTable tbody tr {
    font-size: small;
}

#invoiceTable tbody tr:hover {
    background-color: #f5f5f5;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.error {
    color: red;
}

#customerChoose {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8eeef;
    color: #8a97a0;
    font-size: medium;
}

#customerChoose option {
    color: black;
}

#projectChoose {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8eeef;
    color: #8a97a0;
    font-size: medium;
}

#projectChoose option {
    color: black;
}